/* ---------- Venue Section ---------- */

.section--venue {
  background-image: url(../img/venue-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  p {
    margin-bottom: 20px;
  }
}
